// variable declaration

$font-family : 'Montserrat';


// styles 

body, html {
    font-family: $font-family;
    margin: 0;
    height: 100vh;
    overflow-y: hidden;
}

header {
        padding: 1.5em;

    a {
            text-decoration: none;
            color: #333;
            font-weight: bolder;
            font-size: 2.5em;
    
        span {
                color: burlywood;
                font-style: oblique;
            }

        }

        i {
            float: right;
            cursor: pointer;
        }
    }

section {
        padding: 4em;

    h1 {
        display: flex;
        justify-content: center;
        font-size: 5em;
        width: 70%;
    }
}

// overlay navigation 

nav {
    padding: 1.5em;
    height: 100vh;
    background: black;
    color: white;
    display: none;
    transform: scaleX(0);
    transform-origin: right;

    i {
        opacity: 0;
        float: right;
        cursor: pointer;
    }

    // clear floats --> top spacing

    .clear {
        clear: both;
    }

    ul {
        list-style-type: none;
        margin: 10% auto 0 auto;
        padding: 4em;
        display: grid;
        grid-template-columns: repeat(4, 25%);

        li {
            opacity: 0;
        }

        a {
            text-decoration: none;
            color: #fff;
            font-weight: bolder;
            font-size: 2.5em;
        }

        span {
            display: block;
        }
    }
}

.show-menu {
    display: block;
    animation : slide-menu 1s ease-in-out forwards;

    #close-btn {
        animation: show-x 1s 1s forwards;
    }

    li:nth-of-type(1) {
        animation: menu-item 0.6s forwards 1s ease-in-out;
    }
    li:nth-of-type(2) {
        animation: menu-item 0.6s forwards 1.3s ease-in-out;
    }
    li:nth-of-type(3) {
        animation: menu-item 0.6s forwards 1.6s ease-in-out;
    }
    li:nth-of-type(4) {
        animation: menu-item 0.6s forwards 1.9s ease-in-out;
    }
}

.close-effect {
    transition: all 1s ease-out;
}

@keyframes slide-menu {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

@keyframes show-x {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes menu-item {
    from {
        transform: translateY(50%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

    
